<h2>Dodaj nowe urządzenie:</h2>


<p><% if @device.errors.any? %>
      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
</p>

<%= render 'form' %>

<p><%= link_to 'Powrót do spisu urządzeń', devices_path %></p>
