<p>
  <b>Name:</b>
  <%= @user_session.name %>
</p>

<p>
  <b>Password:</b>
  <%= @user_session.password %>
</p>


<%= link_to 'Edytuj', edit_user_session_path(@user_session) %> |
<%= link_to 'Wróć', user_sessions_path %>
